* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    width: 280px;
    height: 220px;
    border-radius: 35%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}



.text {
    color: white;
    font-size: 23px;

}

.minute {
    font-size: 35px;
    margin-left: -5%;
}

.sec {
    font-size: 30px;
}

.msec {
    font-size: 28px;
}

.btn-wrapper {
    width: 250px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 3.3%;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    background-color: black;
    cursor: pointer;


}

.btn:hover {
    background-color: white;
    color: black;

}

.laps {
    height: 250px;
    width: 550px;
    list-style: none;
    color: white;
    overflow: auto;
    position: relative;
    padding: 25px 0px;

}

.laps::-webkit-scrollbar {
    display: none;
}

.lap-item {
    display: flex;
    justify-content: center;
    width: 250px;
    text-align: center;
    padding: 10px;
    /* background-color: red; */
    margin-left: 25px;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 50px;
}

.lap-num {
    color: #cccccc;
}

.lap-time {
    display: inline-block;
    margin-left: 25px;
}

.lap-clear {
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 150px;
    left: 40.5%;
    width: 120px;
    padding: 15px 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.806);
    border: 1px solid white;
}


@media screen and (max-width: 500px) {

    .outer-circle {
        margin-left: 24%;
    }

    .btn-wrapper {
        margin-left: 28%;
    }

    .lap-item {
        margin-left: 28%;
    }

    .lap-clear {
        margin-left: -7%;
    }
}